<component name="libraryTable">
  <library name="system">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/bank/management/system/out/production/system/bank/management/system/jcalendar-tz-1.3.3-4.jar!/" />
      <root url="jar://$PROJECT_DIR$/bank/management/system/out/production/system/bank/management/system/mysql-connector-java-8.0.28.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>